.card {
	border: 1px solid gainsboro;
	border-radius: 3px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	gap: 15px;

	p {
		color: rgb(89, 89, 89);
	}

	span {
		color: black;
		font-weight: bold;
	}

	button {
		outline: 0;
		border: 0;
		padding: 5px;

		margin-top: 5px;
		background-color: rgb(115, 198, 5);
		color: white;

		border-radius: 3px;
	}
}
